<nav>
    <div class="container">
        <%= link_to root_path do %>
            <figure class="logo float-left">
                D
            </figure>
        <% end %>
        <ul class="nav-links float-right">
            <% if logged_in? %>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li><%= link_to "Sign out", logout_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "Sign up", signup_path %></li>
                <li><%= link_to "Sign in", login_path %></li>
            <% end %>
        </ul>
    </div>
</nav>
